<?xml version="1.0" encoding="UTF-8"?>
<phpunit xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:noNamespaceSchemaLocation="https://schema.phpunit.de/7.5/phpunit.xsd"

         bootstrap="tests/phpunit-bootstrap.php"
         
         forceCoversAnnotation="true"
         beStrictAboutCoversAnnotation="true"
         beStrictAboutOutputDuringTests="true"
         beStrictAboutTodoAnnotatedTests="true"
         verbose="false"
         colors="true">
    <testsuites>
        <testsuite name="default">
            <directory suffix="Test.php">tests/Module_10/Controler</directory>
        </testsuite>
    </testsuites>


    <!-- <filter>
        <whitelist processUncoveredFilesFromWhitelist="true">
        
            <directory suffix=".php">api</directory>

            <exclude>
                <directory >api/app/vendor</directory>
                <directory >api/document</directory>
                <directory >api/assets</directory>
                <directory >api/tests</directory>
                <file>api/app/inc/js-locale.inc.php</file>
            </exclude>
        </whitelist>
    </filter> -->

    <filter>
        <whitelist processUncoveredFilesFromWhitelist="true">
        
            <directory suffix=".php">function-to-test</directory>
        </whitelist>
    </filter>

</phpunit>
